In [1]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn as sl
import matplotlib.pyplot as pl
import mlxtend as mx
from gsppy.gsp import GSP

In [2]:
df=pd.read_excel('Zoo.xlsx')#Leemos el fichero excel
df

,Fecha,Zoológico,1,2,3,4,5
0,2021-03-01,Madrid,Osos,Leones,Chimpancés,Koala,Jirafa
1,2021-03-02,Madrid,Chimpancés,Koala,Jirafa,Leones,Osos
2,2021-03-03,Madrid,Leones,Chimpancés,Koala,Osos,Jirafa
3,2021-03-04,Madrid,Jirafa,Koala,Osos,Leones,Chimpancés
4,2021-03-05,Madrid,Leones,Chimpancés,Osos,Jirafa,Koala
5,2021-03-06,Madrid,Osos,Leones,Koala,Jirafa,Chimpancés
6,2021-03-07,Madrid,Leones,Osos,Jirafa,Chimpancés,Koala
7,2021-03-01,Barcelona,Osos,Chimpancés,Leones,Koala,Jirafa
8,2021-03-02,Barcelona,Koala,Jirafa,Leones,Osos,Chimpancés
9,2021-03-03,Barcelona,Osos,Leones,Jirafa,Chimpancés,Koala
10,2021-03-04,Barcelona,Jirafa,Leones,Chimpancés,Koala,Osos
11,2021-03-05,Barcelona,Leones,Koala,Osos,Jirafa,Chimpancés
12,2021-03-06,Barcelona,Chimpancés,Koala,Leones,Osos,Jirafa
13,2021-03-07,Barcelona,Leones,Osos,Jirafa,Chimpancés,Koala
14,2021-03-01,Valencia,Leones,Chimpancés,Osos,Koala,Jirafa
15,2021-03-02,Valencia,Osos,Leones,Koala,Chimpancés,Jirafa
16,2021-03-03,Valencia,Leones,Osos,Chimpancés,Jirafa,Koala
17,2021-03-04,Valencia,Osos,Chimpancés,Koala,Leones,Jirafa
18,2021-03-05,Valencia,Osos,Chimpancés,Jirafa,Koala,Leones
19,2021-03-06,Valencia,Jirafa,Osos,Leones,Chimpancés,Koala
20,2021-03-07,Valencia,Osos,Leones,Jirafa,Koala,Chimpancés
21,2021-03-01,Fuengirola,Koala,Leones,Chimpancés,Osos,Jirafa
22,2021-03-02,Fuengirola,Jirafa,Koala,Osos,Leones,Chimpancés
23,2021-03-03,Fuengirola,Leones,Jirafa,Koala,Osos,Chimpancés
24,2021-03-04,Fuengirola,Leones,Osos,Chimpancés,Koala,Jirafa
25,2021-03-05,Fuengirola,Jirafa,Osos,Leones,Chimpancés,Koala
26,2021-03-06,Fuengirola,Osos,Chimpancés,Koala,Jirafa,Leones
27,2021-03-07,Fuengirola,Koala,Osos,Leones,Jirafa,Chimpancés

In [3]:
is_madrid = df.loc[:, 'Zoológico'] == 'Madrid'
is_barcelona = df.loc[:, 'Zoológico'] == 'Barcelona'
is_valencia = df.loc[:, 'Zoológico'] == 'Valencia'
is_fuengirola = df.loc[:, 'Zoológico'] == 'Fuengirola'

In [8]:
#################################### Madrid
df_1=df.loc[is_madrid]
df_madrid=df_1.iloc[:,2:7]
m_madrid=np.array(df_madrid)
#################################### Barcelona
df_2=df.loc[is_barcelona]
df_barcelona=df_2.iloc[:,2:7]
m_barcelona=np.array(df_barcelona)
#################################### Valencia
df_3=df.loc[is_valencia]
df_valencia=df_3.iloc[:,2:7]
m_valencia=np.array(df_valencia)
#################################### Fuengirola
df_4=df.loc[is_fuengirola]
df_fuengirola=df_4.iloc[:,2:7]
m_fuengirola=np.array(df_fuengirola)
#################################### Total
df_tot=df.iloc[:,2:7]
m_tot=np.array(df_tot)

In [10]:
m_madrid

array([['Osos', 'Leones', 'Chimpancés', 'Koala ', 'Jirafa'],
       ['Chimpancés', 'Koala ', 'Jirafa', 'Leones', 'Osos'],
       ['Leones', 'Chimpancés', 'Koala ', 'Osos', 'Jirafa'],
       ['Jirafa', 'Koala ', 'Osos', 'Leones', 'Chimpancés'],
       ['Leones', 'Chimpancés', 'Osos', 'Jirafa', 'Koala '],
       ['Osos', 'Leones', 'Koala ', 'Jirafa', 'Chimpancés'],
       ['Leones', 'Osos', 'Jirafa', 'Chimpancés', 'Koala ']], dtype=object)

In [19]:
result_madrid = GSP(m_madrid).search(0.3)
result_barcelona = GSP(m_barcelona).search(0.3)
result_valencia = GSP(m_valencia).search(0.3)
result_fuengirola = GSP(m_fuengirola).search(0.3)
result_tot = GSP(m_tot).search(0.1)

In [20]:
result_tot#De forma global, solo quedaria hacer el analisis creo, miralo. Pero creo que pone que tienes que hacerlo para cada
#zoologico, que los datos ya estan presentados. No he puesto diferentes configuraciones de soporte aun

[{('Osos',): 28,
  ('Jirafa',): 28,
  ('Chimpancés',): 28,
  ('Leones',): 28,
  ('Koala ',): 28},
 {('Chimpancés', 'Osos'): 3,
  ('Chimpancés', 'Jirafa'): 3,
  ('Chimpancés', 'Koala '): 13,
  ('Jirafa', 'Chimpancés'): 6,
  ('Jirafa', 'Koala '): 7,
  ('Jirafa', 'Leones'): 4,
  ('Koala ', 'Leones'): 4,
  ('Koala ', 'Jirafa'): 8,
  ('Koala ', 'Osos'): 7,
  ('Leones', 'Chimpancés'): 10,
  ('Leones', 'Jirafa'): 5,
  ('Leones', 'Koala '): 4,
  ('Leones', 'Osos'): 7,
  ('Osos', 'Chimpancés'): 8,
  ('Osos', 'Jirafa'): 7,
  ('Osos', 'Leones'): 10},
 {('Chimpancés', 'Koala ', 'Jirafa'): 4,
  ('Jirafa', 'Chimpancés', 'Koala '): 3,
  ('Jirafa', 'Koala ', 'Osos'): 3,
  ('Koala ', 'Jirafa', 'Leones'): 3,
  ('Koala ', 'Osos', 'Leones'): 3,
  ('Leones', 'Chimpancés', 'Koala '): 5,
  ('Leones', 'Chimpancés', 'Osos'): 3,
  ('Leones', 'Osos', 'Chimpancés'): 3,
  ('Leones', 'Osos', 'Jirafa'): 3,
  ('Osos', 'Chimpancés', 'Koala '): 3,
  ('Osos', 'Jirafa', 'Chimpancés'): 3,
  ('Osos', 'Leones', 'Chimpancés'): 5,
  ('Osos', 'Leones', 'Jirafa'): 3},
 {('Osos', 'Leones', 'Chimpancés', 'Koala '): 3}]