In [1]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn as sl
import matplotlib.pyplot as pl
import mlxtend as mx

In [2]:
data=pd.read_csv("Estudiantes.csv")#Leemos el fichero csv
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
#Agrupa la columna de día del mes de manera que cada uno corresponda a una semana usando una etiqueta de tipo String.
conditionlist = [
    (data['math score'] >= 0) & (data['math score'] <=25),
    (data['math score'] >= 26) & (data['math score'] <=51),
    (data['math score'] >= 52) & (data['math score'] <=77),
    (data['math score'] > 78)]
choicelist = ['muy baja', 'baja', 'media','alta']
data['math score'] = np.select(conditionlist, choicelist, default='Not Specified')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,media,72,74
1,female,group C,some college,standard,completed,media,90,88
2,female,group B,master's degree,standard,none,alta,95,93
3,male,group A,associate's degree,free/reduced,none,baja,57,44
4,male,group C,some college,standard,none,media,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,alta,99,95
996,male,group C,high school,free/reduced,none,media,55,55
997,female,group C,high school,free/reduced,completed,media,71,65
998,female,group D,some college,standard,completed,media,78,77
999,female,group D,some college,free/reduced,none,media,86,86

In [4]:
#Agrupa la columna de día del mes de manera que cada uno corresponda a una semana usando una etiqueta de tipo String.
conditionlist = [
    (data['reading score'] >= 0) & (data['reading score'] <=25),
    (data['reading score'] >= 26) & (data['reading score'] <=50),
    (data['reading score'] >= 51) & (data['reading score'] <=76),
    (data['reading score'] > 76)]
choicelist = ['muy baja', 'baja', 'media','alta']
data['reading score'] = np.select(conditionlist, choicelist, default='Not Specified')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,media,media,74
1,female,group C,some college,standard,completed,media,alta,88
2,female,group B,master's degree,standard,none,alta,alta,93
3,male,group A,associate's degree,free/reduced,none,baja,media,44
4,male,group C,some college,standard,none,media,alta,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,alta,alta,95
996,male,group C,high school,free/reduced,none,media,media,55
997,female,group C,high school,free/reduced,completed,media,media,65
998,female,group D,some college,standard,completed,media,alta,77
999,female,group D,some college,free/reduced,none,media,alta,86

In [5]:
#Agrupa la columna de día del mes de manera que cada uno corresponda a una semana usando una etiqueta de tipo String.
conditionlist = [
    (data['writing score'] >= 0) & (data['writing score'] <=25),
    (data['writing score'] >= 26) & (data['writing score'] <=50),
    (data['writing score'] >= 51) & (data['writing score'] <=76),
    (data['writing score'] > 76)]
choicelist = ['muy baja', 'baja', 'media','alta']
data['writing score'] = np.select(conditionlist, choicelist, default='Not Specified')
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,media,media,media
1,female,group C,some college,standard,completed,media,alta,alta
2,female,group B,master's degree,standard,none,alta,alta,alta
3,male,group A,associate's degree,free/reduced,none,baja,media,baja
4,male,group C,some college,standard,none,media,alta,media
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,alta,alta,alta
996,male,group C,high school,free/reduced,none,media,media,media
997,female,group C,high school,free/reduced,completed,media,media,media
998,female,group D,some college,standard,completed,media,alta,alta
999,female,group D,some college,free/reduced,none,media,alta,alta